


body {
    font: normal 14px verdana-regular;
    color: #b2b1b1;
    text-align: center;
}

#signupContainer {
    background-image: url('../assets/egg.png');
    background-repeat: no-repeat;
    height: 516px;
    width: 400px;
    /*opacity: 0.8;*/
}

p {
    margin: 10px 0;
    padding: 0 20px;
}

#character img {
    width: 100px;
    margin-top: 65px;
    margin-bottom: 5px;
}

input[type="text"], [type="password"], [type="email"] {
    border: 0;
    border-bottom: 1px solid #6faea1;
    width: 72%;
    margin: auto;
}

.btn {
    border-radius: 40px;
    color: #fff;
    width: 72%;
}

.pressEnter {
    font-size: 12px;
    font-family: verdana–bold;
    color: #555;
    float: right;
    margin-top: 5px;
    padding-right: 50px;
}

.pressEnter img {
    width: 12px;
    margin-right: 5px;
}

.pressEnter p {
    display: inline;
    padding: 0;
}

#facebook_authentification {
    background-color: #6faea1;
    border: 2px solid #6faea1;
}

#google_authentification {
    background-color: #f6999d;
    border: 2px solid #f6999d;
    width: 86%;
}

#email_authentification {
    background-color: #999898;
    border: 2px solid #999898;
}

#signmeup, #send {
    background-color: #fbd805;
    border: 2px solid #fbd805;
    margin-top: 10px;
}

.title {
    font-weight: bold;
    font-size: 16px;
}

#signin {
    color: #fbd805;
}

.form-group label {
    color: #369898;
}

.errormessages{
  color:#F44336;
  font-weight: bold;
}
.centerelement{
  margin-left: 20%;
  margin-right: 20%;
}
.tinzabtn{
  background: #FBD805;
  border: none;
  margin-top: 9px;
}
.tinzabtn:hover
{
  background: #FBD205;
  color: White;
  font-weight: bold;
}
.error{
  font-weight : bold;
  visibility: visible;
  font-size: 11px;
  color:#f36f4c;
  font-family: verdana;
}
.errorcontainer{
  height: 17px;
  border-radius: 9.25px;
  border-style: solid;
  margin-top: 22px;
  border-width: 1px;
  border-color: #f36f4c;
  background: #feefeb;
}




.mediumerrorcontainer{
  height: 17px;
  border-radius: 9.25px;
  border-style: solid;
  margin-top: 22px;
  border-width: 1px;
  border-color: #f4da0a;
  color: #f4da0a ;
  background: #fff8c7 ;
}

.strongerrorcontainer{
  height: 17px;
  border-radius: 9.25px;
  border-style: solid;
  margin-top: 22px;
  border-width: 1px;
  border-color: #5b893d ;
  color: #5b893d  ;
  background: #e4f1da  ;
}

.errorhidden{
  visibility: hidden;
}




.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}


.inputcenterarea {
  transition: 0.5s linear all ;
  opacity: 1;

}

.inputcenterarea.ng-hide-add{

    transition: 0.5s linear all ;
    opacity: 0.5;
    transform: translateY(10px);

}

.inputcenterarea.ng-hide-remove{

    transition: 0.5s linear all ;
    opacity: 0.5;
    transform: translateY(10px);

}

.inputcenterarea.ng-hide {
  transition: 0.5s linear all ;
  line-height: 0;
  transform: translateY(10px);
  opacity: 0;
}


.icon{
background-image:url(../assets/placeholder.png);
background-repeat: no-repeat;
background-position: 7px 9px;
text-indent:25px;
}

.iconemail{
background-image:url(../assets/envelope.png);
background-repeat: no-repeat;
background-position: 5px 9px;
text-indent:25px;
}
