<nav class="navbar navbar-custom" role="navigation">
    <div class="container">
        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <button class="dropdown-toggle dropbutton" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#about" >ABOUT</a></li>
                        <li><a href="#services" >SERVICES</a></li>
                        <li><a href="#portfolio">PORTFOLIO</a></li>
                        <li><a href="#pricing" >PRICING</a></li>
                        <li><a href="#contact" >CONTACT</a></li>
                    </ul>
                </li>
            </ul>
            <ul id="logo" class="nav navbar-nav">
                <li><a ui-sref="home" >Tinza</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/singup">become a tinzer</a></li>
                <li><a href="#/singin" >login</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>
